body {
  margin: 0;
  background: linear-gradient(180deg, goldenrod, rgb(194, 131, 142) 100%);
  height: 115vh;
}

main {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;

}

h1 {
  text-align: center;
  font-size: 3rem;
}

.logo-img {width: 15%; padding: .8rem;}
#flipper {transform: scaleX(-1);}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(180deg, teal 0%, rgb(208, 145, 9) 100%);
  justify-content: space-between;
  position: sticky;
  top: 0;
}

ul, li {display: inline;}

ul {
  font-size: 1.8rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

a {color: rgb(223, 143, 30); font-family: Georgia, 'Times New Roman', Times, serif;}

td {
  border: 1px black solid;
  font-weight: 100;
  padding: 5px;
}

tr {font-weight: 400; border: 1px black solid;}
th {font-weight: 400; border: 1px black solid;}
td:hover{background-color: pink; cursor:cell;}
th:hover{background-color: pink; cursor:cell;}


table {
  width:100%;
  border-collapse: collapse;
  border: 1px black solid;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

tr:nth-of-type(odd) {background-color: hsl(180, 60%, 44%);}
tr:nth-of-type(even) {background-color: hsl(180, 60%, 74%);}

button {
  width: 100%;
  margin: 5px 0 0 0;
  height: 50px;
  border-radius: 100px;
  font-size: 1.5rem;
  background-color: #eee;
  border: 2px teal solid;
  box-shadow: inset;
}
button:hover{
  background-color: teal;
  border: 2px black solid;
  color: pink;
  transition: .9s;
}
section {display: flex;}
.hide {display: none;}

#new-city {
  font-size: 1.5rem;
  width: 50%;
  margin: 40px auto;
}

input {
  background-color: #eee;
  width: 100%;
  height: 2em;
  font-size: 1.3rem;
  padding-left: 10px;
}

footer {background: linear-gradient(180deg, rgb(194, 131, 142), rgb(201, 144, 153) 100%);}