main {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

td {
  border: 2px black solid;
  font-weight: 100;
}

tr {
  font-weight: 600;
}

table {
  width:100%;
  border-collapse: collapse;
  border: 1px black solid;
}

tr:nth-of-type(odd) {
  background-color: hsl(180, 60%, 44%);
}
tr:nth-of-type(even) {
  background-color: hsl(180, 60%, 74%);
}
