img {
  width: 12%;
  padding: .8rem;
}

#flipper {
  transform: scaleX(-1);
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(180deg, teal 0%, rgb(208, 145, 9) 100%);
  justify-content: space-between;
}

ul, li {
  display: inline;
}

ul {
  font-size: 1.8rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

a {
  color: rgb(223, 143, 30);
}